@import './__description/Project__description'
@import './__img/Project__img'
@import './__buttons/Project__buttons'
@import './__tehnologies/Project__tehnologies'
@import './__tehnology/Project__tehnology'

.Project
    width: 100%
    // height: 500px
    background-color: #DDDDDD
    border-radius: 10px
    overflow: hidden
    outline: none
    cursor: pointer
    border: none
    padding-bottom: 25px

// .Project:last-of-type
//     margin-right: 0

// @media(max-width: 500px)
//     .Project
//         width: 60px
//         height: 60px
//         margin-right: 10px