@import './__title/MyProjects__title'
@import './__icon/MyProjects__icon'

.MyProjects
    width: 1000px
    margin: 0 auto
    padding: 0 50px
    box-sizing: border-box
    display: flex
    flex-wrap: wrap
    justify-content: center