@import './__userpic/AboutMe__userpic'
@import './__title/AboutMe__title'
@import './__subtitle/AboutMe__subtitle'
    
.AboutMe
    width: 1000px
    display: flex
    margin: 0 auto 30px
    padding: 0 50px
    box-sizing: border-box

@media(max-width: 1100px)
    .AboutMe
        width: 100%

@media(max-width: 500px)
    .AboutMe
        padding: 0 25px